@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Inconsolata:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Inconsolata;
    font-weight: 600;
}


.main-grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
        "user-info events enemy-info"
        "user-info game enemy-info"
        "user-info actions enemy-info";
    grid-template-rows: 22% 56% 22%;
    grid-template-columns: 20% 60% 20%;
}

#actions-container button{
    height: 95%;
    width: 17.5%;
    background-color:#ffffff;
    transition: 0.19s all;
    border: 0.234375vw solid black;
    font-size: 1.5vw;
}

#actions-container button:hover{
    border: 0.304375vw solid red;
    color: red;
}

#actions-container button:active{
    transform: scale(0.92);
}

#event-container{
    border-bottom: 0.0001vw solid black;
    overflow: auto;
    grid-area:events;
    background-color:#ffffff;
    text-align: center;
    font-size: 1.6vw;
    align-content: center;
    justify-content: center;
    padding: 0.1vw;
}

.user-stats-container p{
    font-size: 1.5vw;
}

.enemy-stats-container p{
    font-size: 1.5vw;
}

#event-container p{
    display: inline;
    bottom: 0;
}

#enemy-info-container{
    border-left: 0.0001vw solid black;
    grid-area:enemy-info;
    background-color:#faa4a4;
}

#user-info-container{
    border-right: 0.0001vw solid black;
    grid-area:user-info;
    background-color:#e1d4ff;
}

#game-container{
    grid-area:game;
    background-color:#ffffff;
}

#game-container .game-container__battle-image-container img{
    height: 40vh;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-red{
    background-color: rgb(165, 103, 103);
}

.clickable-reset-local-storage:hover{
    cursor: pointer;
}

.button-start-combat{
    width: max-content;
    padding: 1.1vw;
    font-size: 1vw;
    height: max-content;
    border: 0.0001vw solid black;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
}

.button-start-tutorial{
    width: max-content;
    padding: 1.1vw;
    font-size: 1vw;
    height: max-content;
    border: 0.0001vw solid black;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.enemy-attack-border{
    height: 5vw;
    width: 5vw;
    border: 0.0001vw solid #696969;
    position: relative;
    z-index: 2000;
}

.enemy-attack-border__fill{
    height: 100%;
    width: 0%;
    background-color: red;
}

#actions-container{
    grid-area:actions;
    background-color:#d8d8d8;
    border-top: 0.0001vw solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container__battle-image-container{
    height: 100%;
    width: 100%;
}

.invisible{
    display: none;
}

.game-container__shop-container{
    width: 100%;
    height: 100%;
}

.shop{
    width: 100%;
    height: 100%;
    background-color: #6b4e3d;
    overflow-y: auto;
}

.shop__title{
    font-family: 'Holtwood One SC', serif;
    text-align: center;
    margin-top: 0.5vw;
    font-size: 2vw;
    font-weight: 300;
    color: #161615;
}

.shop__item{
    width: 49%;
    height: 30%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.shop__item-info{
    width: 90%;
    height: 82%;
    background-color:#e6e6e6;
    display: grid;
    grid-template-areas:
    "si-icon si-name"
    "si-icon si-price";
    grid-template-columns: 27% 73%;
    grid-template-rows: 75% 25%;
    border: 0.0001vw solid black;
    
}
.shop__item__icon{
    width: 6vw;
    height: 6vw;
    grid-area: si-icon; 
    justify-self: center;
    align-self: center;
    border: 0.0001vw solid #000000;
}

.shop__item__name{
    font-size: 1.6vw;
    grid-area: si-name;
    align-self: center;
    margin-right: 1.2vw;
}

.shop__item__price{
    text-align: end;
    margin: 0 1.6vw 1vw 0;
    grid-area: si-price;
    font-size: 1vw;
    background-color:#e6e6e6;
}

.item-detailed-info-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop__item__detailed-info{
    height: max-content;
    width: 100%;
    justify-self: center;
    justify-content: center;
    background-color:#d88b8b;
    display: grid;
}

.shop__item__detailed-info button{
    font-size: 1.8rem;
    height: max-content;
    width: 70%;
    justify-self: center;
    margin: 0.3rem 0 0.3rem 0;
    border: 0.0001vw solid black;
    padding: 0.2rem;
    transition: all 0.2s;
}

.shop__item__detailed-info button:hover{
    transform: scale(1.065);
}

button:hover{
    cursor: pointer;
}

.shop__item__detailed-info p{
    font-size: 1.5vw
}

.shop__item__detailed-info p:last-child{
    margin-bottom: 1vw;
}

.shop__item__detailed-info__icon{
    width: 15vw;
    height: 15vw;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 1vw 0 1vw 0;
}

.user-info-container__inventory-button{
    height: max-content;
    width: 97%;
    margin: auto;
    display: block;
    font-size: 1.2vw;
    padding: 0.6vw;
    background-color: white;
    border: 0.00001vw solid black;
}

.inventory-container{
    width: 97%;
    height: 50%;
    border: 0.00001vw solid black;
    overflow: auto;
    margin: auto;
    background-color: #918f96;
}

.inventory__item__info{
    width: 18vw;
    height: 3vw;
    overflow: auto;
    margin: auto;
    margin-top: 0.2vw;
    display: grid;
    grid-template-columns: 3vw 15vw;
    grid-template-rows: 100%;
    grid-template-areas: 
    "ii-icon ii-name";
    border: 0.00001vw solid black;
    background-color: #aba9b1;
}

.inventory__item__icon{
    height: 3vw;
    grid-area: ii-icon;
}

.inventory__item__name{
    font-size: 1vw;
    grid-area: ii-name;
    margin-left: 0.5vw;
    align-self: center;
}